.content{
    margin-top: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    padding: 20px 0px;
    box-sizing: border-box;
    width: 50%;
    height: 60%;
    background-color: rgb(254, 222, 181);
    border-radius: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
h1{
    font-size: 20px;
}
.result{
    color: azure;
    padding: 15px 10px 10px 0px;
    display: flex;
    align-self: center;
    justify-content: flex-end;
    background-color: black;
    border-radius: 5%;
}
.result,
button{
    width: 80%;
    height: 30px;
}
.numbers{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5px;
}
.value1, 
.value2{
    width: 39%;
    box-sizing: border-box;
}
.reset{
    background-color:rgb(210, 122, 15);
}
@media only screen and (max-width: 767px) {
   .numbers{
    width: 80%;
    flex-direction: column;
   }
   .value1 , .value2 {
    width: 100%;
    box-sizing: border-box;
   }
}