.sec1{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/header-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 100px;
        .container{
           padding: 300px 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            h1{
                font-size: 45px;
                color: white;
                font-weight: 700;
                letter-spacing: 2px;
                text-align: center;
            }
            p{
                color: white;
                font-size: 14px;
                font-weight: 400;
                font-family: "Poppins", sans-serif;
            }
        }
    }
.sec2{
    margin-bottom: 150px;
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        h1{
            font-family: "Poppins", sans-serif;
            font-weight: 600;
            color: #222222;
            line-height: 1.2em;
            
        }
        p{
            font-family: "Poppins", sans-serif;
            font-size: 14px;
            font-weight: 300;
            line-height: 16px;
        }
        .cards{
            .card{
                box-shadow:  0px 20px 60px 0px rgba(246, 33, 75, 0.3);
                padding: 20px;
                .card-body{
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    text-align: center;
                    font-family: "Poppins", sans-serif;
                }
            }
        }
    }
}
.sec3{
    margin-bottom: 100px;
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        h1{
            font-family: "Poppins", sans-serif;
            font-weight: 600;
            color: #222222;
            line-height: 1.2em;
            
        }
        p{
            font-family: "Poppins", sans-serif;
            font-size: 14px;
            font-weight: 300;
            line-height: 16px;
        }
       .row{
        display: flex;
        justify-content: center;
        align-items: center;

        .card{
            border: none;
            border-radius: none;
            position: relative;
          .head{
            overflow: hidden;
            img{
                transition: all 0.3s ease 0s;
                &:hover{
            transform: scale(1.2);
                }
              }
             }
            span{
                position: absolute;
                left: 10%;
                bottom: 30%;
                padding: 10px 40px;
                font-size: 14px;
                color: white;
                background-color: red;
                font-family: "Poppins", sans-serif;
                font-weight: 300;
 
            }
            .card-body{
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding:20px 0;
                h5{
                    color: black;
                    font-family: "Poppins", sans-serif;
                    line-height: 1.2em ;
                    font-weight: 600;
                }
                p{
                    color: red;
                    font-weight: 600;
                    font-family: "Poppins", sans-serif;
                }
            }
        }
       }
    }
}
.sec4{
    background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  url("../img/callto-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .container{
        padding: 200px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h1{
            font-family: "Poppins", sans-serif;
            color: white;
            font-weight: 600;
            line-height: 1.2em;
        }
        p{
            font-family: "Poppins", sans-serif;
            font-size: 14px;
            font-weight: 300;
            color: white;
            text-align: center;
            line-height: 26px;
        }
        button{
            background-color: red;
            color: white;
            padding: 10px 20px;
            border-radius: 20px;
            transition: .2s;
            border: 1px solid transparent;
            font-family: "Poppins", sans-serif;
            &:hover{
                border-color: white;
                background-color: transparent;
            }
        }
    }
}
@media only screen and (max-width:767px){
 .sec2{
    .container{
        h1{
            font-size: 23px;

        }
         p{
            font-size: 13px;
        }
    }
 }
 .sec3{
    .container{
        h1{
            font-size: 20px;

        }
         p{
            font-size: 13px;
        }
    }
 }
    .sec4{
    .container{
        h1{
            font-size: 23px;
        }
        p{
            font-size: 13px;
        }
    }
 }
   
}